@page
@model TitanHelp_Demo.Pages.Test2Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test2</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].TicketPriority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].CreationDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].CreatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].IsOpen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPriority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
